<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkgs.museum.mapper.MapTopicAnswerMapper">

    <!-- resultMap -->
    <resultMap id="resultMap" type="com.pkgs.museum.entity.zhihu.MapTopicAnswerEntity">
        <result column="id" property="id"/>
        <result column="topic_id" property="topicId"/>
        <result column="answer_id" property="answerId"/>
    </resultMap>

    <sql id="fields">
        `id` ,
        `topic_id` ,
        `answer_id`
    </sql>

    <sql id="search">
        <where>
            <if test="obj.id != null and obj.id != ''">
                AND `id` = #{obj.id}
            </if>
            <if test="obj.topicId != null and obj.topicId != ''">
                AND `topic_id` = #{obj.topicId}
            </if>
            <if test="obj.answerId != null and obj.answerId != ''">
                AND `answer_id` = #{obj.answerId}
            </if>
        </where>
    </sql>

    <insert id="save" parameterType="com.pkgs.museum.entity.zhihu.MapTopicAnswerEntity" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO map_topic_answer_t(
        `topic_id` ,
        `answer_id`
        ) VALUES(
        #{topicId},
        #{answerId}
        )
    </insert>

    <select id="selectByMap" resultMap="resultMap" parameterType="java.util.Map">
        SELECT
        <include refid="fields"/>
        FROM
        map_topic_answer_t
        WHERE
    </select>

    <select id="selectCount" resultType="java.lang.Integer"
            parameterType="com.pkgs.museum.entity.zhihu.MapTopicAnswerEntity">
        SELECT
        COUNT(*)
        FROM
        map_topic_answer_t
        <include refid="search"/>
    </select>
</mapper>